*,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* TODO: 사용자에게 확대/축소 버튼 제공, https://blog.jeongtae.com/rem-%EA%B3%A0%EC%B0%B0 */
/* :root {
} */

body {
  background-color: #fefefe;
}
