nav {
  border: 3px solid beige;
}

.nav-link {
  padding: 20px;
  display: inline-block;
}

.nav-link.click {
  background-color: tomato;
  font-weight: bold;
}

.post-link {
  background-color: white;
  border: 2px solid #f0f1f2;
  border-radius: 6px;
  margin: 10px 0;
  display: block;
  padding: 20px 0;
}
